body{
    font-family: sans-serif;
    color: gray ;
    padding: 5px;
}

header{
    text-align: center;

}

span{
    background-color: rgb(218, 107, 107);
    color: white;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin:10px 0px 5px 15px;
}
div{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

main{
    margin-top: 10px;
}

section{
display: flex;
justify-content: center;

}

img{
    width: 200px;
}
*{
    padding: 0;
    margin: 0;
}
p{
    margin: 10px 0px;
    
}